<% if @view == nil %>
  <div class="col-md-2 col-md-offset-5">
<% else %> 
  <div class="col-md-2 col-md-offset-2"> 
<% end %>
  <div class="panel panel-info">

    <div class="panel-heading">
      <div class="panel-title">Update Username</div>
    </div>

    <div class="panel-body new-user">
      <div class="col-md-6 center col-md-offset-1">
        <%= link_to "Update Password", update_path(view: 'password'), class: 'btn btn-primary' %>
      </div>
      <div class="col-md-6 center col-md-offset-1">
        <%= link_to "Update Username", update_path(view: 'username'), class: 'btn btn-primary' %>
      </div>
      <div class="col-md-6 center col-md-offset-1">
        <%= link_to "Update Email", update_path(view: 'email'), class: 'btn btn-primary' %>
      </div>
      
    </div>
  </div>
</div>

