<div class="mainbox">
	<%= render partial: "side_bar" %> 
	<% if @view == 'password' %>
		<%= render :partial => 'update_password', :locals => {:view => "password"} %>
	<% elsif @view == 'email' %>
		<%= render partial: "update_email", :locals => {:view => "email"}  %>
	<% elsif @view == 'username' %>
		<%= render partial: "update_username", :locals => {:view => "username"} %>
	<% end %>
</div>
