/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */



 /*
  =============================================
  NAVBAR
  =============================================
 */

.navbar {
  background-color: dodgerblue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  color: ivory !important;
  font-family: 'Indie Flower', cursive;
  font-size: 42px;
  letter-spacing: 2px;
  padding-right: 28px;
}

.navbar-brand:hover {
  color: orange !important;
}

.nav-link {
  color: ivory !important;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: orange !important;
}

#cube {
  height: 50px;
  width: 50px;
}

/*
 =============================================
 LOGIN FORMS
 =============================================
*/

.btn-primary {
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.panel-title {
  color: black;
}
