<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <%= link_to "Stuff Box", root_path, class: "navbar-brand" %>
      <span><img src="/assets/cube.png" alt="" id="cube"/></span>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="nav-link" href="/login">Login  |  Create Account</a>
        </li>
      </ul>
    </div>

  </div>
</div>
